@font-face {
    font-family: "Mustard";
    src: url("./fonts/Mustard\ Medium.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mustard bold";
    src: url("./fonts/Mustard\ Bold.otf.otf");
    font-style: normal;
    font-weight: 800;
    
}

body{
    padding: 40px 300px;
    background: rgb(238,174,202);
    background: linear-gradient(304deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  /* Asegura que el body cubra toda la altura del viewport */
    margin: 0
   
    
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px 10px;

    background: rgb(249, 246, 250);
    border-radius: 10px;

    font-family: "Mustard","Mustard bold";

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.score{
    display: flex;
    justify-content: center;
}

#score-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    padding: 5px 15px;
    border: 3px solid rgb(96, 97, 97);
    border-radius: 5px;
    min-height: 100px;
    min-width: 300px;
    justify-content: center;
    align-items: center;

    font-weight: 800;
    font-size: large;
    color: antiquewhite;

}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

button{
    font-weight: 600;
    padding: 15px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid grey;
    font-family: "Mustard","Mustard bold";
}

#reset{
    max-width: 200px;
    flex-basis: 50px;
    align-self:center;
}

p{
    margin: 5px 0px;
}

#game-text{
    font-size: 30px;
    color: rgb(250, 227, 232);
}

h2,h1{
    margin: 0px;
}